.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 800px;
    min-height: 1000px;
    background-color: #f5f5f5;
    padding: 0;
}

.header {
    color: white;
    background-color: #e03eff;
    width: 100%;
    text-align: center;
}

.upload {
    display: flex;
    flex-direction: row;
    width: 705px;
    justify-content: space-between;
}

td div{
    height: 200px;
    overflow: scroll;
    display: flex;
    align-items: center;
}

img {
    max-width: 200px;
    height: auto;
    margin: auto;
}