.main {
    width: 210mm;
    height: 317mm;
    background-color: rgba(0,0,0,0.03);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-family: Helvetica;
    line-height: 150%;
    margin: auto;
    position: relative;
    padding: 10mm 0mm ;

}

.photo {
    position: absolute;
    left: 113mm;
    top: 5mm;
}

h1 {
    position: relative;
    font-size: 180%;
    margin-left: 30mm;
    bottom: 5mm;
}

.contacts {
    margin-top: 10mm;
}

div {
    margin-left: 15mm;
    margin-top: 10mm;
    margin-right: 15mm;
}
.education li{
    list-style-type: none;
}

.language li{
    list-style-type: none;
}

hr {
    margin-left: 14mm;
    margin-right: 14mm;
}